<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>net.culater.${PRODUCT_NAME:identifier}.osax</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleSignature</key>
	<string>SIM∞</string>
	<key>CFBundleVersion</key>
	<string>0.9.3</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.3</string>
	<key>CFBundleGetInfoString</key>
	<string>${EXECUTABLE_NAME} 0.9.3, ©2003-2009 Mike Solomon</string>
	<key>OSAScriptingDefinition</key>
	<string>${PRODUCT_NAME}.sdef</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>Events</key>
		<dict>
			<key>SIMeload</key>
			<dict>
				<key>Handler</key>
				<string>InjectEventHandler</string>
				<key>Threadsafe</key>
				<false/>
				<key>Context</key>
				<string>Process</string>
			</dict>
			<key>SIMeleop</key>
			<string>InjectEventHandler</string>
		</dict>
	</dict>
</dict>
</plist>
